<form [formGroup]="userForm" (ngSubmit)="submitData()">
<div class="main-outer">
  <div class="inner">

    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input type="text" formControlName="username" matInput  placeholder="cmjd">
    </mat-form-field>

    <!-- <div class="mb-3">
      <label for="username" class="form-label">User Name</label>
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="cmjd">
      <p class="alert alert-danger" style="margin-top: 3px;"
      *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched"
      >please enter valid username</p>
    </div> -->
    
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>

    <!-- <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password">
      <p class="alert alert-danger" style="margin-top: 3px;"
      *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
      >please enter valid password</p>
    </div> -->

    <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary">Submit Data</button>
  </div>
</div>
</form>